*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cover-container{
    height: 100vh;
    background: url('/assets/images/bng.jpeg'), rgb(231, 228, 221);
    background-size: cover;
}
.first-quote{
    height: 500px;
}
#wangari{
    border-radius: 42%;
     width: 250px;
    height: 200px;

}

.links a{
    padding: 10px
}