/* You can add global styles to this file, and also import other style files */

body{
    height: auto;
    background: url('./assets/images/bng.jpeg'), rgb(107, 107, 185);
    background-size: cover;
}